@media(max-width:790px){
    .headInterface{
        flex-direction: column;
    }
    .headInfo{
        flex-direction: row;
        justify-content: space-evenly;
        transform: scale(0.75);
    }

    .imgInterface{
        max-width: 54%;
        object-fit: contain;
    }

    .measureAndTypeContainer{
        display: flex;
        align-items: center;
    }
}

@media (max-width:720px){
    header{
        flex-direction: column;
    }

    .logoContainer{
        align-self: flex-start;
    }

    .bigSearchContainer{
        align-self: flex-end;
    }
}

@media (max-width:510px){
    .detailInterface{
        width: 100vw;
        height: 100vh;
    }

    .pokemonImgContainer{
        width: 100vw;
    }

    .pokemonImg{
        max-width:100%;
    }
}

@media (max-width:380px){
    .headInfo{
        width: 100%;
    }
}

@media (max-width:350px){
    .active{
        width: 250px;
    }
    .search{
        width: 170px;
        font-size: 18px;
    }
}

/*Holding SmartPhone Horizontally*/

@media (max-height:650px){
   .detailInterface{
    overflow-y: auto;
   }

   .headInterface{
    flex-direction: row;
   }

   .headInfo{
    flex-direction:column ;
   }

   .header{
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
   }

   .pokeCard{
    display: flex;
    align-items: center;
    width: 33%;
   }

   .pokemonTypeContainer{
     display: flex;
     flex-direction: column;
   }

   .pokemonImg{
    width: 100%;
   }
}